.invoice_item {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

td > div {
  width: 50px;
}

td:first-of-type > div {
  width: 300px;
}




.invoice_item_total {
  display: flex;
  flex-wrap: nowrap;
}

.action {
  height: 100%;
}

.action > button {
  align-self: flex-end;
}

.lg {
  display: none;
}

.sm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.row > * {
  flex: 1;
}

@media (min-width: 57.25em) {
  .invoice_item {
    display: table-row;
  }
}
