.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  position: sticky;
  padding: 20px;
  bottom: 0;
}

[data-theme="light"] .actions {
  background: #fff;
}

[data-theme="dark"] .actions {
  background: #141625;
}

.actions_right {
  display: flex;
  align-items: center;
  gap: 16px;
}
