.container {
  border-radius: 8px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
  padding: 37px 32px;
}

[data-theme="light"] .container {
  background: #fff;
  
}

[data-theme="dark"] .container {
  background-color: #1E2139;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);
}